<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="hibernate.show_sql">true</property>

	<property name="hibernate.dialect">
org.hibernate.dialect.MySQL5Dialect
	</property>

	<mapping resource="cn/uni/domain/BulletinInfo.hbm.xml" />
	<mapping resource="cn/uni/domain/TextInfo.hbm.xml" />
	<mapping resource="cn/uni/domain/UserInfo.hbm.xml" />
</session-factory>

</hibernate-configuration>
